<a href="https://colab.research.google.com/github/vchandraiitk/datascience/blob/main/ProbabilityBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import scipy                        # scientific computation library
import matplotlib.pyplot as plt     # Visualization
import seaborn as sns               # Advaced Visualization with high level interface
from scipy import integrate         # several integration techniques
sns.set_style('whitegrid')

In [2]:
df_ = pd.read_csv('garments_worker_productivity.csv')

In [3]:
df = df_[['date', 'quarter', 'department', 'day', 'team']]
#print(df.head())
# Consider records where 'day' is Monday, Thursday or Saturday
df_day = df[df['day'].isin(['Monday', 'Thursday', 'Saturday'])]

# Consider records where 'team' number is 1, 2 or 3
df_day_team = df_day[df_day['team'].isin([1, 2, 3])]
# Consider records where 'quarter' is 'Quarter1' or 'Quarter2'
df_day_team_quarter = df_day_team[df_day_team['quarter'].isin(['Quarter1', 'Quarter2'])]
# Reset the index and store dataset to 'df'
df = df_day_team_quarter.reset_index(drop= True)

In [5]:
df.head()
df_a = df[df['quarter']=='Quarter1']
df_t1 = df_a['team']==1
print(df_t1.value_counts())
df_b = df[df['quarter']=='Quarter2']
df_t2 = df_b['team']==2
print(df_t2.value_counts())
A = df_t1.sum()/len(df_a)
B = df_t2.sum()/len(df_b)
print(A)
print(B)
print(A*B)

team
False    29
True     18
Name: count, dtype: int64
team
False    25
True     13
Name: count, dtype: int64
0.3829787234042553
0.34210526315789475
0.13101903695408734